# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

__Objectives:__
- Popular languages for Data Science
- Libraries for Data Science
- Data Science tools
- Introduction to airthemetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit

| Data Science Tools |
|:--------|
| Jupyter NB |
| Jupyter Lab |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.
+ A+B --- Add two numbers.
+ X*Z --- Multiplies two numbers.
+ Y/W --- Divide Y by W

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

In [13]:
#This will convert minutes into hours and minutes
Minutes = 200
Hours = Minutes//60
Extra_Minutes = Minutes%60
print(Hours,"Hours and ",Extra_Minutes,"Minutes")

3 Hours and  20 Minutes

## Author
Nipun Singla